{% extends "base.html" %} {% load static %}{% block content %}

<div class="home-container">
    <h2><strong>Selamat datang di Situs BETIS 2020</strong></h2>
    <h2>Klik mata pelajaran di samping</h2>
</div>

<div class="home-container-2">
    <h2><strong>Selamat datang di Situs BETIS 2020</strong></h2>
</div>

<div class="menu col-lg-3 menu-container-2">
    <h1>Subjects</h1>
    <div class="saintek row ">
        <img src="{% static 'img/segitiga.png' %}" alt="">
        <h1>Saintek</h1>

    </div>
    <div class="saintek-content">
        <a href="/fisika/">
            <h2>Fisika</h2>
        </a>
        <a href="/biologi/">
            <h2>Biologi</h2>
        </a>
    </div>

    <div class="soshum row">
        <img src="{% static 'img/segitiga.png' %}" alt="">
        <h1>Soshum</h1>
    </div>

    <div class="soshum-content">
        <a href="/ekonomi/">
            <h2>Ekonomi</h2>
        </a>
    </div>
</div>

{% endblock content %}