.navbar a,
.navbar-brand h3 {
    color: #024059 !important;
    font-family: 'Roboto', sans-serif !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 25px !important;
}

.nav-item {
    margin-left: 50px;
    color: #024059 !important;
}

.menu {
    background-color: #DCF2EE;
    height: 100vh;
}

.content {
    background-color: white;
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
}

.saintek,
.soshum {
    margin-left: 10px;
    margin-top: 20px;
}

.saintek img,
.soshum img {
    height: 40px;
    margin-right: 10px;
    justify-items: center;
}

.soshum-content h2,
.saintek-content h2 {
    margin-left: 70px;
    font-weight: lighter;
    font-style: normal;
}

.home-container {
    margin: auto;
    width: 50%;
    text-align: center;
}

.silabus {
    color: #024059;
    font-size: 25px;
}

.youtube {
    text-align: center;
}

.fisika-container {
    padding: 20px;
}

.modul-container {
    margin-left: 50px;
    margin-top: 30px;
}

.silabus {
    margin-bottom: 20px;
}

.silabus img {
    margin-right: 20px;
}

.ekonomi-container {
    padding: 30px;
}

.gambar-kurva img {
    width: 50%;
    height: auto;
    margin-bottom: 40px;
}

.ekonomi-container h4 {
    color: #024059;
    font-weight: 400;
}

@media only screen and (max-width: 700px) {
    .menu-container {
        display: none;
    }
    .youtube iframe {
        width: 300px;
        height: 200px;
    }
    .home-container {
        display: none;
    }
    .home-container-2 {
        display: contents;
    }
    .home-container-2 h2 {
        margin: 50px;
    }
}

@media only screen and (min-width: 500px) {
    .menu-container-2 {
        display: none;
    }
    .home-container {
        margin-top: 200px;
    }
    .home-container-2 {
        display: none;
    }
}

.kembali img {
    transform: rotate(180deg);
    margin-right: 10px;
    margin-bottom: 30px;
}

.saintek-content {
    display: none;
}

.soshum-content {
    display: none;
}

.muncul {
    display: contents;
}


/* .home-container-2 {
    padding: 30px;
    margin-top: 50px;
} */