{% load static %}

<script src="{% static "vendor/jquery/jquery.js" %}"></script>
<script src="{% static "vendor/popper/popper.js" %}"></script>
<script src="{% static "vendor/bootstrap/bootstrap.js" %}"></script>
<script src="{% static "js/index.js" %}"></script>