{% extends "base.html" %} {% load static %} {% block content %}

<div class="column fisika-container">
    <div class="kembali row">
        <img src="{% static 'img/segitiga.png' %}" alt="">
        <a href="/">
            <h3>Kembali</h3>
        </a>
    </div>

    <h2>Fisika</h2>

    <div class="youtube">
        <iframe class="embed-responsive-item" width="50%" height="315" src="https://www.youtube.com/embed/Avh9eXBIg-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="modul-container">
        <div class="silabus row">
            <img src="{% static 'img/pdf.png' %}" alt="pdf">
            <a href="https://docs.google.com/uc?export=download&id=1aLpXBPl6ZvBRl0V8ycNFN2fFG3a_UOK2">
                <p>Silabus Fisika</p>
            </a>
        </div>

        <div class="silabus row">
            <img src="{% static 'img/pdf.png' %}" alt="pdf">
            <a href="https://drive.google.com/uc?export=download&id=0ByYoJpkI20gNXzVkY3VtbWNNR3M">
                <p>Modul Fisika</p>
            </a>
        </div>

        <div class="silabus row">
            <img src="{% static 'img/pdf.png' %}" alt="pdf">
            <a href="https://drive.google.com/uc?export=download&id=0ByYoJpkI20gNV0IzeWR3anNXZzg">
                <p>Latihan Soal Fisika</p>
            </a>
        </div>
    </div>


</div>

{% endblock content %}