{% extends "base.html" %} {% load static %} {% block content %}

<div class="ekonomi-container">
    <div class="kembali row">
        <img src="{% static 'img/segitiga.png' %}" alt="">
        <a href="/">
            <h3>Kembali</h3>
        </a>
    </div>

    <h2>Ekonomi</h2>

    <div class="row justify-content-center gambar-kurva">
        <img src="{% static 'img/kurva.png' %}" alt="kurva">
    </div>

    <h4>Kurva di atas adalah kurva <i>supply</i> dan <i>demand</i></h4>
</div>

{% endblock content %}