{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{judul}}</title>
    {% include "snippets/styles.html" %}
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    {% include "snippets/navbar.html" %}

    <div class="body row">
        <div class="menu col-lg-3 menu-container">
            <h1>Subjects</h1>
            <div class="saintek row ">
                <img src="{% static 'img/segitiga.png' %}" alt="" class="saintek-button">
                <h1>Saintek</h1>

            </div>
            <div class="saintek-content muncul" id="saintek-content">
                <a href="/fisika/">
                    <h2>Fisika</h2>
                </a>
                <a href="/biologi/">
                    <h2>Biologi</h2>
                </a>
            </div>

            <div class="soshum row muncul">
                <img src="{% static 'img/segitiga.png' %}" alt="" class="soshum-button">
                <h1>Soshum</h1>
            </div>

            <div class="soshum-content">
                <a href="/ekonomi/">
                    <h2>Ekonomi</h2>
                </a>
            </div>
        </div>

        <div class="content col-lg-9">
            {% block content %} {% endblock content %}
        </div>

    </div>
    {% include "snippets/scripts.html" %}

</body>

</html>